@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,400;0,700;1,200;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Code Pro', monospace;
}

body {
    padding-top: 50px;
    background: #223243;
}

header {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}


header h1 {
    font-size: 40px;
    font-weight: bold;
    color: #26fbe2;
    margin-left: 16px;
    text-shadow: 2px 2px 5px #000;
}

thead th {
    color: #26fbe2;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    padding: 40px;
    border-radius: 20px;
    border: 8px solid #223243;
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1),
        5px 5px 15px rgba(0, 0, 0, 0.35),
        inset -5px -5px 15px rgba(255, 255, 255, 0.1),
        inset 5px 5px 15px rgba(0, 0, 0, 0.35);

}

form {
    display: flex;
    align-items: center;
    max-width: 640px;
    width: 100%;
    height: 30vh;
    justify-content: space-between;
    margin-bottom: 36px;
}

form input {
    font-size: 24px;
    background-color: #223243;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #00dfc4;
    border-radius: 25px;
    padding: 8px;
    margin-right: 8px;
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1),
        5px 5px 15px rgba(0, 0, 0, 0.35);
    transition: 0.5s;
    outline: none;
}

#form-atividade span {
    position: relative;
    top: 0px;
    right: 50px;
    font-size: 14px;
    color: #ff0000;
}

#form-atividade span i {
    color: white;
}

.glow-on-hover {
    font-size: 24px;
    padding: 10px;
    margin-left: 8px;
    border: none;
    outline: none;
    color: #fff;
    background: #00dfc4;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 25px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 25px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #00dfc4;
    left: 0;
    top: 0;
    border-radius: 25px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

table {
    width: 100%;
    margin-bottom: 100px;
}

table th {
    border-bottom: 2px solid #000;
    padding: 16px;
    font-size: 24px;
    font-weight: bold;
}

table td {
    padding: 16px 0;
    text-align: center;
    font-size: 18px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

table td img {
    height: 30px;
}

table tbody td {
    color: #06f716;
}

@media (max-width: 768px) {

    form {
        display: flex;
        align-items: center;
        max-width: 640px;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 36px;
    }

    form input {
        margin-bottom: 16px;
    }

    #form-atividade span {
        position: relative;
        top: -47px;
        right: -130px;
        font-size: 14px;
        color: #ff0000;
    }
}